streamlit
from PIL import Image
from PyPDF2 import PdfFileReader
pdfplumber
docx2txt
fitz
re
nltk.corpus
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
spacy
from spacy.lang.en import English
numpy
