python==3.7
streamlit
PIL==1.1.7
Image
PyPDF2
PdfFileReader
pdfplumber
docx2txt
fitz
re
nltk.corpus
nltk.corpus
stopwords
sklearn.feature_extraction.text 
TfidfVectorizer
spacy
spacy.lang.en 
English
numpy
